/*
 #9356DC MAUVE
 #FF79DA ROSE
 #99E2D0 BLUE CLAIRE

*/
@media screen and (max-width: 425px)
{
   body
    {
        font-family: 'Roboto', sans-serif;
    }
   img
    {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 2em;
    }
    header h1 
    {
        
        font-size: 1em;
        color: grey;
        border:1px solid #ddd7d7 ;
        background-color: #ddd7d7;
        padding: .7em;
    }
    .fa-map-marker-alt
    {
        margin-right:1em;
    }
    .order h1
    {
        font-size:1.7em ;
    }
    .order p
    {
        font-size:1.2em ;
    }
    h1,p 
    {
        text-align: center;
    }
    .btn__menu a
    {
        display: block;
        margin: auto;
        text-align: center;
        border: 1px solid  ;
        background:linear-gradient(#FF79DA,#9356DC);
        width: max-content;
        padding: 1em;
        border-radius: 5em;
        color: white;
        text-decoration: none;        
    }
    nav h1, section h1
    {
        text-align:start ;
        margin-top: 2em;
        margin-left: 0.5em;
        padding-top:2em ;
    }
    nav a
    {
        text-decoration: none;
        font-size: 1.1em;
        color: #000000;
        font-weight: 600;
        font-stretch: condensed;
    }
    nav div
    {
        margin: auto;
        width: 75%;
        border: 1px solid #f8f9fa;
        background: #f8f9fa;
        text-align: center;
        border-radius: 1.5em;
        padding: 2em;
        margin-bottom: 1em;
        box-shadow:3px 3px 3px 3px #F2F2F2;
    }
    nav div
    {
        display: flex;
      
       
    }
   nav i
    {
        margin-right:0.6em         
    }
    .one
    {
        margin-left: -2.8em;
        margin-right: .7em;
        display: block;
        background:#9356DC ;
        border-radius: 50%;
        width: 20px;
        color: #ffffff;
        padding: 3px;
    }   
    section
    {
        background:#f8f9fa ;
        padding-bottom: 2em;
        
    }
    .dish a
    {
       text-decoration: none;
    }
    .dish
    {
        position: relative;
    }
    .dish div
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0em;
        margin-bottom: 0em;

    }
    .dish p
    {
        text-align: start;
        font-size: 1.2em;
        font-weight:bold;
        color: black;
        display: block;
        /*padding-left: 0.8em;*/
    }
    .dish span
    {
        font-weight: normal;
    }
    section div
    {
        border: 3px solid white;
        background: #FFFFFF;
        margin:1em;
        border-radius: 20px;
        margin-bottom: 20px;

    }
    section img
    {
        width: 100%;
       margin-top: 0px; 
       border-radius: 20px 20px 0px 0px;
       height: 10em;
       object-fit: cover;
    }
   
    .dish i 
    {
        font-size: 36px;
        color: rgb(107, 101, 101);
    }
    #sticker
    {
        border: 1px palegreen;
        background:#c1f5dc ;
        width: max-content;
        border-radius: 0px;
        padding: 0.5em 1em 0.5em 1em;
        font-weight: bold;
        color: rgb(44, 139, 116);
        position: absolute;
        top:1em ;
        right:0em;
        border-radius: 5px;

    }




    footer div
    {
        display: flex;
        align-items: center;
    }
    footer p
    {
        display: block;
    }
    footer h1
    {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.7em;
        margin-bottom: 0.5em;
    }
    footer *
    {
        text-align: start;
      
    }
    footer
    {
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        background: #413b3b;
        color: #FFFFFF;
        margin-top: -1.2em;
    }
    footer i
    {
        margin-right: 0.6em;
        font-size:15px; ;
    }
    footer p, footer div
    {
        margin-bottom:0.2em ;
    }
    
}