/*
 #9356DC MAUVE
 #FF79DA ROSE
 #99E2D0 BLUE CLAIRE
*/

body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header
{
    margin-top: 30px;
}
#logo img
{
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}
#under_title 
{
    font-size: 1em;
    color: grey;
    border:1px solid #E4E4E4 ;
    background-color: #E4E4E4;
    padding:1em;
    box-shadow: inset 0px 20px 10px -15px
}
.fa-map-marker-alt
{
    margin-right:1em;
}
.order
{
    background:#f8f9fa;
    padding-top: 1.1em;
    margin-top: -18px;
    padding-bottom: 3.5em;
    margin-bottom: -3.5em;
}
.order h1
{
    font-size:1.7em ;
}
.order p
{
    font-size:1.2em ;
}
h1,p 
{
    text-align: center;
}
.btn__menu a
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid  ;
    background:linear-gradient(#FF79DA,#9356DC);
    width: fit-content;
    padding: 1.1em 2em;
    border-radius: 5em;
    color: white;
    text-decoration: none;  
}
.btn__menu:hover a
{
    box-shadow: 0 0 15px #808080;
    opacity: 0.;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:1em ;
}
nav h1
{
  width:100%; 
}
nav h1, section h1
{
    text-align:start ;
    margin-top: 2em;
    margin-left: 0.5em;
    padding-top:2em ;
}
nav a
{
    text-decoration: none;
    font-size: 1.1em;
    color: #000000;
    font-weight: 600;
    font-stretch: condensed;
}
nav i
{
    margin-right:0.6em 
} 
.choice 
{
    position: relative;
    display: flex;
    margin: auto;
    width: 25%;
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    text-align: center;
    border-radius: 1.5em;
    padding: 1.5em;
    margin-bottom: 1em;
    box-shadow:3px 3px 3px 3px #F2F2F2;

}
.choice:hover
{
    background: rgb(227, 221, 233);
}
.choice:hover i
{
    color:#9356DC  ;
}
.number
{
    background:#9356DC ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #ffffff;
    padding: 3px;
    position: absolute;
    left: -13px;

   /* margin-left: -2.8em;
    margin-right: .7em;
    display: block;
    
    padding: 3px;*/
}   
section
{
    background:#f8f9fa ;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
section h1
{
    width: 100%;
}
.dish
{
    width: 45%;
    position: relative;
}
.dish a
{
   text-decoration: none;
}
.dish div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0em;
    margin-bottom: 0em;

}
.dish p
{
    text-align: start;
    font-size: 1.2em;
    font-weight:bold;
    color: black;
    display: block;
    /*padding-left: 0.8em;*/
}
.dish span
{
    font-weight: normal;
}
section div
{
    border: 3px solid white;
    background: #FFFFFF;
    margin:1em;
    border-radius: 20px;
    margin-bottom: 20px;

}
section img
{
    width: 100%;
   margin-top: 0px; 
   border-radius: 20px 20px 0px 0px;
   height: 10em;
   object-fit: cover;
}
.full_icon 
{
  
   font-size: 1em;
   visibility: hidden;
   position: absolute;
   right: 0px;
}
.empty_icon
{
    font-size: 2em;
    position: relative;
    color: #818a84;
}
.empty_icon:hover
{
    visibility: hidden;
}
.empty_icon:hover  .full_icon
{
    visibility: visible;
    font-size: 1em;
    animation: colors 0.5s   ease-in-out infinite;
}
@keyframes colors 
{
    0% { color:#FF79DA;
    text-shadow: 0 0 5px grey; }
    90%{color: #9356DC;}
    100%  { color:#FF79DA;
    text-shadow: 0 0 5px grey; }
}

.sticker
{
    border: 1px palegreen;
    background:#c1f5dc ;
    width: max-content;
    border-radius: 0px;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
    color: rgb(44, 139, 116);
    position: absolute;
    top:1em ;
    right:0em;
    border-radius: 5px;

}




footer div
{
    display: flex;
    align-items:baseline ;
}
footer p
{
    display: block;
    font-size: 1.2em;
}
footer h1
{
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0.5em;
    width: 100%;
}
footer *
{
    text-align: start;
    text-decoration: none;
    color: #FFFFFF;
}
footer
{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 3em;
    background: #353535;
    color: #FFFFFF;
    margin-top: -1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

}
footer i
{
    margin-right: 0.6em;
    font-size:15px; ;
}
footer p, footer div
{
    margin-bottom:0.2em ;
}
footer p,nav a,.order a ,footer a,.menu_meal,.heart_icon
{
    cursor: pointer;
}

/*CSS Menu à la française*/
#title
{
margin-top: 30px;
display: flex;
flex-direction: row;
}

#title i
{
color: #363636;
}
header i
{
font-size:1.5em;
margin-left: 0.5em; 
}

#menu_logo img
{
width: 45%;
position: absolute;
right: 30%;
}

.menu_first img
{
width: 100%;
height: 18em;
object-fit: cover;
}

.menu_title
{
font-family: 'Shrikhand', sans-serif;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 50px 50px 0 0;
background: #F6F6F6;
margin-top: -3em;
width: 100%s;
position:relative;
padding-top: 1em;
}
.menu_title i
{
font-size: 1.8em;
}
.menu_title h1
{
font-size: 1.7em;
}
main
{
background: #F6F6F6;
margin-top: 2em;
padding-bottom: 6em;
}
.menu_dishes
{
margin-bottom: 3.5em;
}
.menu_dishes h1
{
text-transform: uppercase;
text-align: start;
font-size: 1.2em;
display: block;
width: 2.4em;
border-bottom: 5px solid #73d6c6;
padding-bottom: 0.3em; 
margin-left: 1em;  
}
.meal
{
display: flex;
justify-content: space-between;
margin-top: 0em;
}
.menu_meal h2
{
margin-bottom: 0px;
font-size: 1.2em;
margin-bottom: -10px;
margin-top: 10px;
}
.menu_meal
{
border: 1px solid #FFFFFF;
width: 90%;
margin: auto;
padding: 0 10px 0 10px;
border-radius: 20px;
background: #FFFFFF;
box-shadow: 5px 5px 5px #6b6565;
margin-bottom: 1.2em;
position: relative;
}
.meal p
{
font-size: 1em;
}
.meal :nth-child(2)
{ 
font-weight: bold;
transition: transform 1s;
}
.slide
{ 
background: #73d6c6;
border: 1px solid #73d6c6;
position: absolute;
top: -1px;
right: -2px;
border-radius: 0 20px 20px 0;
height:100%;
display: flex;
justify-content: center;
align-items: center;
 /*from -169px to -2*/
 transition: width ease-in-out 0.5s;
 width: 0em;
 opacity: 0;
}
.menu_meal:hover .slide
{
width: 4em;
opacity: 1;
}
.menu_meal:hover .fa-check
{
transform: rotate(360deg);
width: fit-content;
}
.meal :nth-child(1),.menu_meal h2
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
text-align: start;
display: block;
width: auto;
}
.menu_meal:hover  h2, .menu_meal:hover .meal :nth-child(1)
{
padding-right: 4em;
}
.menu_meal:hover .meal :nth-child(2)
{
transform: translateX(-4em) ;
transition: transform 0.7s;
}
.slide i
{
transition:transform 1s;
font-size: 1.4em;
background: #FFFFFF;
border-radius: 50%;
color: #73d6c6;
padding: 0.2em;
}
.loader_wrapper
{
width: 100%;
z-index: 100;
background: #7a9bc2;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
animation: view 3s linear;
visibility: hidden;
}
.loader
{
border: 15px solid #7a9bc2;
border-radius: 50%;
border-top: 15px solid linear-gradient( #FF79DA,#99E2D0,#9356DC  );
border-bottom: 15px solid linear-gradient( #FF79DA,#99E2D0,#9356DC );
width: 200px;
height: 200px;
background:linear-gradient( #FF79DA,#99E2D0,#9356DC );
display: block;
position:relative;
animation: loader 2s   linear;
top: 0;  
}

@keyframes view 
{
0% { opacity: 1;
    visibility: visible; }

100% { opacity: 0;
visibility: hidden; }
 
}

@keyframes loader
{
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.dish:hover
{
transform: scale(1.03);
transition:  transform cubic-bezier(0.85, 0.03, 0.4, 0.96) 0.1s;
}
/*affichage avec delay page secondaire entrées plats, desserts et */

.menu_meal
{
  animation: show 1s linear forwards;
  opacity: 0;
}


@keyframes show {
  0%{opacity: 0; }
  100%{opacity: 1;}      
}

.starter > :nth-child(2)
{
    animation-delay: .5s;
}
.starter > :nth-child(3)
{
    animation-delay: 1s;
}
.starter > :nth-child(4)
{
    animation-delay: 1.5s;
}
.starter> :nth-child(5)
{
    animation-delay: 2s;
}
.food > :nth-child(2)
{
    animation-delay: 2.5s;
}
.food > :nth-child(3)
{
    animation-delay: 3s;
}
.food > :nth-child(4)
{
    animation-delay: 3.5s;
}
.afters > :nth-child(2)
{
    animation-delay: 4s;
}
.afters > :nth-child(3)
{
    animation-delay: 4.5s;
}
.afters > :nth-child(4)
{
    animation-delay: 5s;
}
/*breakpoint 1000px*/
@media screen and (max-width: 1000px)
{
    .choice
    {
        width: 33%;
    }
}
@media screen and (max-width: 768px)
{
    .choice 
    {
        width: 60%;
    }
    nav
    {
        flex-direction: column;
    }
    .dish
    {
        width: 100%;
    }
    footer div, footer p
    {
        width: 50%;
        display:inline-block;
    }
    #propose
    {
        width: 85%;
    }
}
/*breakpoint 660px*/
@media screen and (max-width:660px)
{
    footer p, footer div
    {
        margin-bottom:0.2em ;
        width: 90%;
    }
    footer h1
    {
        margin-left: 1.2em;
    }
}

@media screen and (max-width: 426px)/*425*/
{

   #logo img
    {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 2em;
    }
    #under_title 
    {
        
        font-size: 1em;
        color: grey;
        border:1px solid #E4E4E4 ;
        background-color: #E4E4E4;
        padding:1em;
        box-shadow: inset 0px 20px 10px -15px
    }
    .fa-map-marker-alt
    {
        margin-right:1em;
    }
    .order
    {
        background:#f8f9fa;
        padding-top: 1.1em;
        margin-top: -18px;
        padding-bottom: 3.5em;
        margin-bottom: -3.5em;
    }
    .order h1
    {
        font-size:1.7em ;
    }
    .order p
    {
        font-size:1.2em ;
    }
    h1,p 
    {
        text-align: center;
    }
    nav h1, section h1
    {
        text-align:start ;
        margin-top: 2em;
        margin-left: 0.5em;
        padding-top:2em ;
    }
    nav a
    {
        text-decoration: none;
        font-size: 1.1em;
        color: #000000;
        font-weight: 600;
        font-stretch: condensed;
    }
    nav i
    {
        margin-right:0.6em 
    } 
    .choice 
    {
        width: 75%;
    }
    .choice:hover
    {
        background: rgb(227, 221, 233);
    }
    .choice:hover i
    {
        color:#9356DC  ;
    }
    .number
    {
        background:#9356DC ;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: #ffffff;
        padding: 3px;
        position: absolute;
        left: -13px;

       /* margin-left: -2.8em;
        margin-right: .7em;
        display: block;
        
        padding: 3px;*/
    }   
    section
    {
        background:#f8f9fa ;
        padding-bottom: 2em;
        
    }
    .dish a
    {
       text-decoration: none;
    }
    .dish
    {
        position: relative;
    }
    .dish div
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0em;
        margin-bottom: 0em;

    }
    .dish p
    {
        text-align: start;
        font-size: 1.2em;
        font-weight:bold;
        color: black;
        display: block;
        /*padding-left: 0.8em;*/
    }
    .dish span
    {
        font-weight: normal;
    }
    section div
    {
        border: 3px solid white;
        background: #FFFFFF;
        margin:1em;
        border-radius: 20px;
        margin-bottom: 20px;

    }
    section img
    {
        width: 100%;
       margin-top: 0px; 
       border-radius: 20px 20px 0px 0px;
       height: 10em;
       object-fit: cover;
    }
   .full_icon 
    {
      
       font-size: 1em;
       visibility: hidden;
       position: absolute;
       right: 0px;
    }
    .empty_icon
    {
        font-size: 2em;
        position: relative;
        color: #818a84;
    }
   .empty_icon:hover
    {
        visibility: hidden;
    }
    .empty_icon:hover  .full_icon
    {
        visibility: visible;
        font-size: 1em;
        animation: colors 0.5s   ease-in-out infinite;
    }
    @keyframes colors 
    {
        0% { color:#FF79DA;
        text-shadow: 0 0 5px grey; }
        90%{color: #9356DC;}
        100%  { color:#FF79DA;
        text-shadow: 0 0 5px grey; }
    }

    .sticker
    {
        border: 1px palegreen;
        background:#c1f5dc ;
        width: max-content;
        border-radius: 0px;
        padding: 0.5em 1em 0.5em 1em;
        font-weight: bold;
        color: rgb(44, 139, 116);
        position: absolute;
        top:1em ;
        right:0em;
        border-radius: 5px;

    }




    footer div
    {
        display: flex;
        align-items:baseline ;
    }
    footer p
    {
        display: block;
        font-size: 1.2em;
    }
    footer h1
    {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.7em;
        margin-bottom: 0.5em;
    }
    footer *
    {
        text-align: start;
        text-decoration: none;
        color: #FFFFFF;
    }
    footer
    {
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 3em;
        background: #353535;
        color: #FFFFFF;
        margin-top: -1.2em;
    }
    footer i
    {
        margin-right: 0.6em;
        font-size:15px; ;
    }
    
    footer p,nav a,.order a ,footer a,.menu_meal,.heart_icon
    {
        cursor: pointer;
    }

/*CSS Menu à la française*/
#title
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#title i
{
    color: #363636;
}
header i
{
    font-size:1.5em;
    margin-left: 0.5em; 
}

#menu_logo img
{
    width: 45%;
    position: absolute;
    right: 30%;
}

.menu_first img
{
    width: 100%;
    height: 18em;
    object-fit: cover;
}

.menu_title
{
    font-family: 'Shrikhand', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px 50px 0 0;
    background: #F6F6F6;
    margin-top: -3em;
    width: 100%s;
    position:relative;
    padding-top: 1em;
}
.menu_title i
{
    font-size: 1.8em;
}
.menu_title h1
{
    font-size: 1.7em;
}
main
{
    background: #F6F6F6;
    margin-top: 2em;
    padding-bottom: 6em;
}
.menu_dishes
{
    margin-bottom: 3.5em;
}
.menu_dishes h1
{
    text-transform: uppercase;
    text-align: start;
    font-size: 1.2em;
    display: block;
    width: 2.4em;
    border-bottom: 5px solid #73d6c6;
    padding-bottom: 0.3em; 
    margin-left: 1em;  
}
.meal
{
    display: flex;
    justify-content: space-between;
    margin-top: 0em;
}
.menu_meal h2
{
    margin-bottom: 0px;
    font-size: 1.2em;
    margin-bottom: -10px;
    margin-top: 10px;
}
.menu_meal
{
    border: 1px solid #FFFFFF;
    width: 90%;
    margin: auto;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px #6b6565;
    margin-bottom: 1.2em;
    position: relative;
}
.meal p
{
    font-size: 1em;
}
.meal :nth-child(2)
{ 
    font-weight: bold;
    transition: transform 1s;
}
.slide
{ 
    background: #73d6c6;
    border: 1px solid #73d6c6;
    position: absolute;
    top: -1px;
    right: -2px;
    border-radius: 0 20px 20px 0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
     /*from -169px to -2*/
     transition: width ease-in-out 0.5s;
     width: 0em;
     opacity: 0;
}
.menu_meal:hover .slide
{
  width: 4em;
  opacity: 1;
}
.menu_meal:hover .fa-check
{
  transform: rotate(360deg);
  width: fit-content;
}
.meal :nth-child(1),.menu_meal h2
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    display: block;
    width: auto;
}
.menu_meal:hover  h2, .menu_meal:hover .meal :nth-child(1)
{
    padding-right: 4em;
}
.menu_meal:hover .meal :nth-child(2)
{
  transform: translateX(-4em) ;
  transition: transform 0.7s;
}
.slide i
{
    transition:transform 1s;
    font-size: 1.4em;
    background: #FFFFFF;
    border-radius: 50%;
    color: #73d6c6;
    padding: 0.2em;
}
.loader_wrapper
{
    width: 100%;
    z-index: 100;
    background: #7a9bc2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: view 3s linear;
    visibility: hidden;
}
.loader
{
    border: 15px solid #7a9bc2;
    border-radius: 50%;
    border-top: 15px solid linear-gradient( #FF79DA,#99E2D0,#9356DC  );
    border-bottom: 15px solid linear-gradient( #FF79DA,#99E2D0,#9356DC );
    width: 200px;
    height: 200px;
    background:linear-gradient( #FF79DA,#99E2D0,#9356DC );
    display: block;
    position:relative;
    animation: loader 2s   linear;
    top: 0;  
}

@keyframes view 
{
    0% { opacity: 1;
        visibility: visible; }
 
    100% { opacity: 0;
    visibility: hidden; }
     
}

@keyframes loader
 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .dish:hover
  {
    transform: scale(1.03);
    transition:  transform cubic-bezier(0.85, 0.03, 0.4, 0.96) 0.1s;
  }
  /*affichage avec delay page secondaire entrées plats, desserts et */

 .menu_meal
  {
      animation: show 1s linear forwards;
      opacity: 0;
  }
 
  
  @keyframes show {
      0%{opacity: 0; }
      100%{opacity: 1;}      
  }
 
  .starter > :nth-child(2)
  {
    animation-delay: .5s;
  }
  .starter > :nth-child(3)
  {
    animation-delay: 1s;
  }
  .starter > :nth-child(4)
   {
    animation-delay: 1.5s;
  }
  .starter> :nth-child(5)
  {
    animation-delay: 2s;
  }
  .food > :nth-child(2)
  {
    animation-delay: 2.5s;
  }
  .food > :nth-child(3)
  {
    animation-delay: 3s;
  }
  .food > :nth-child(4)
   {
    animation-delay: 3.5s;
  }
  .afters > :nth-child(2)
  {
    animation-delay: 4s;
  }
  .afters > :nth-child(3)
  {
    animation-delay: 4.5s;
  }
  .afters > :nth-child(4)
   {
    animation-delay: 5s;
  }
  
  }
