body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header
{
    margin-top: 30px;
}
#logo img
{
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}
#under_title 
{
    font-size: 1em;
    color: grey;
    border:1px solid #E4E4E5;
    background-color: #E4E4E4;
    padding:1em;
    box-shadow: inset 0px 20px 10px -15px
}
.fa-map-marker-alt
{
    margin-right:1em;
}
.order
{
    background:#f8f9fa;
    padding-top: 1.1em;
    margin-top: -18px;
    padding-bottom: 3.5em;
    margin-bottom: -3.5em;
}
.order h1
{
    font-size:1.7em ;
}
.order p
{
    font-size:1.2em ;
}
h1,h2,p 
{
    text-align: center;
}
.btn__menu a
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid  ;
    background:linear-gradient(#FF79DA,#9356DC);
    width: 11em;
    padding: 1.1em 2em;
    border-radius: 5em;
    color: white;
    text-decoration: none;  
}
.btn__menu:hover a
{
    box-shadow: 0 0 15px #808080;
    opacity: 0.7;
}
nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:1em ;
}
nav h2
{
    width:100%; 
}
nav h2, section h2
{
    text-align:start ;
    margin-top: 2em;
    padding-top:2em ;
    text-indent: 0.7em;
}
nav a
{
    text-decoration: none;
    font-size: 1.1em;
    color: #000000;
    font-weight: 600;
    font-stretch: condensed;
}
nav i
{
    margin-right:0.6em;
    color: #747474;
} 
.choice 
{
    position: relative;
    display: flex;
    margin: auto;
    width: 25%;
    border: 1px solid #f8f9fb;
    background: #f8f9fa;
    text-align: center;
    border-radius: 1.5em;
    padding: 1.5em;
    margin-bottom: 1em;
    box-shadow:3px 3px 3px 3px #F2F2F2;

}
.choice:hover
{
    background: rgb(227, 221, 233);
}
.choice:hover i
{
    color:#9356DC  ;
}
.number
{
    background:#9356DC ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #ffffff;
    padding: 3px;
    position: absolute;
    left: -13px;
}   
section
{
    background:#f8f9fa ;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
section h2
{
    width: 100%;
}
.dish
{
    width: 45%;
    position: relative;
}
.dish a
{
   text-decoration: none;
}
.dish div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0em;
    margin-bottom: 0em;
}
.dish p
{
    text-align: start;
    font-size: 1.2em;
    font-weight:bold;
    color: black;
    display: block;
}
.dish span
{
    font-weight: normal;
}
section div
{
    border: 3px solid #FFFFFA;
    background: #FFFFFF;
    margin:1em;
    border-radius: 20px;
    margin-bottom: 20px;

}
section img
{
   width: 100%;
   margin-top: 0px; 
   border-radius: 20px 20px 0px 0px;
   height: 10em;
   object-fit: cover;
}
.full_icon 
{
   font-size: 1em;
   visibility: hidden;
   position: absolute;
   right: 0px;
}
.empty_icon
{
    font-size: 2em;
    position: relative;
    color: #818a84;
}
.empty_icon:hover
{
    visibility: hidden;
}
.empty_icon:hover  .full_icon
{
    visibility: visible;
    font-size: 1em;
    animation: colors 0.5s   ease-in-out infinite;
}
@keyframes colors 
{
    0% { color:#FF79DA;
    text-shadow: 0 0 5px grey; }
    90%{color: #9356DC;}
    100%  { color:#FF79DA;
    text-shadow: 0 0 5px grey; }
}

.sticker
{
    border: 1px #99E2D0;
    background:#c1f5dc ;
    width: max-content;
    border-radius: 0px;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
    color: rgb(44, 139, 116);
    position: absolute;
    top:1em ;
    right:0em;
    border-radius: 5px;
}
footer div
{
    display: flex;
    align-items:baseline ;
}
footer p
{
    display: block;
    font-size: 1.2em;
}
footer h1
{
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0.5em;
    width: 100%;
}
footer *
{
    text-align: start;
    text-decoration: none;
    color: #FFFFFF;
}
footer
{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 3em;
    background: #353535;
    color: #FFFFFF;
    margin-top: -1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
footer i
{
    margin-right: 0.6em;
    font-size:15px; ;
}
footer p, footer div
{
    margin-bottom:0.2em ;
}
footer p,nav a,.order a ,footer a,.heart_icon
{
    cursor: pointer;
}
header i
{
    font-size:1.5em;
    margin-left: 0.5em; 
}
.loader_wrapper
{
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 100;
    background: #7a9bc2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: view 3s linear;
    visibility: hidden;
}
.loader
{
    border: 15px solid #7a9bc2;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background:linear-gradient( #FF79DA,#99E2D0,#9356DC );
    display: block;
    position:relative;
    animation: loader 2s   linear;
    top: 0;  
}

@keyframes view 
{
0% { opacity: 1;
    visibility: visible; }

100% { opacity: 0;
    visibility: hidden; }
 
}

@keyframes loader
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.dish:hover
{
    transform: scale(1.03);
    transition:  transform cubic-bezier(0.85, 0.03, 0.4, 0.96) 0.1s;
}
/*breakpoint 1000px*/
@media screen and (max-width: 1000px)
{
    .choice
    {
        width: 33%;
    }
}
/* css pour la version tablette*/
@media screen and (max-width: 768px)
{
    .choice 
    {
        width: 60%;
    }
    nav
    {
        flex-direction: column;
    }
    .dish
    {
        width: 100%;
    }
    footer div, footer p
    {
        width: 50%;
        display:inline-block;
    }
    #propose
    {
        width: 85%;
    }
}
/*breakpoint 660px*/
@media screen and (max-width:660px)
{
    footer p, footer div
    {
        margin-bottom:0.2em ;
        width: 90%;
    }
    footer h1
    {
        margin-left: 1.2em;
    }
}

/* css pour la version mobile*/

@media screen and (max-width: 426px)
{

   #logo img
    {
        width: 50%;
    }
    .choice 
    {
        width: 75%;
    }    
    footer div
    {
        display: flex;
        align-items:baseline ;
    }
    footer h1
    {
        margin-left: 0.7em;
    }
    footer *
    {
        text-align: start;
    }






   
  }
