body
{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
header
{
    margin-top: 30px;
}
h1,p 
{
    text-align: center;
}
.btn__menu a
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid  ;
    background:linear-gradient(#FF79DA,#9356DC);
    width:6em;
    padding: 1.1em 2em;
    border-radius: 5em;
    color: white;
    text-decoration: none;  
}
.btn__menu:hover a
{
    box-shadow: 0 0 15px #808080;
    opacity: 0.7;
} 
.full_icon 
{
   font-size: 1em;
   visibility: hidden;
   position: absolute;
   right: 0px;
}
.empty_icon
{
    font-size: 2em;
    position: relative;
    color: #818a84;
}
/* une autre option pour le remplissage du coeur
.empty_icon:hover
{
   visibility: hidden;
}*/

/*animation coeur*/
.empty_icon:hover  .full_icon
{
    visibility: visible;
    font-size: 1em;
    animation: backcolors 1s   linear ;
    animation-fill-mode: forwards;
}

@keyframes backcolors 
{
    0%
    {
         background:radial-gradient(#FF79DA,#FFFFFF ,#FFFFFF, #FFFFFF);
         -webkit-background-clip: text; 
         color: transparent;    
    }
    33%
    {
         background:radial-gradient(#FF79DA, #FF79DA, #FFFFFF, #FFFFFF);
         -webkit-background-clip: text; 
         color: transparent;    
    }
    66%
    {
         background:radial-gradient( #FF79DA, #FF79DA,   #FF79DA ,#FFFFFF);
         -webkit-background-clip: text; 
         color: transparent;    
    }
    100%
    {
         background:radial-gradient(#FF79DA, #9356DC);
         -webkit-background-clip: text; 
         color: transparent;    
    }
}

footer div
{
    display: flex;
    align-items:baseline ;
}
footer p
{
    display: block;
    font-size: 1.2em;
}
footer h1
{
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0.5em;
    width: 100%;
}
footer *
{
    text-align: start;
    text-decoration: none;
    color: #FFFFFF;
}
footer
{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 3em;
    background: #353535;
    color: #FFFFFF;
    margin-top: -1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
footer i
{
    margin-right: 0.6em;
    font-size:15px; ;
}
footer p, footer div
{
    margin-bottom:0.2em ;
}
footer p,footer a,.menu_meal,.heart_icon
{
    cursor: pointer;
}
#title
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#title i
{
    color: #363636;
}
header i
{
    font-size:1.5em;
    margin-left: 0.5em; 
}

#menu_logo img
{
    width: 25%;
    position: absolute;
    right: 37.5%;
}
.menu_first, .menu_title,.btn__menu
{
    width: 100%;
}

.menu_first img
{
    width: 100%;
    height: 18em;
    object-fit: cover;
}

.menu_title
{
    font-family: 'Shrikhand', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px 50px 0 0;
    background: #F6F6F6;
    margin-top: -3em;
    width: 100%;
    position:relative;
    padding-top: 1em;
}
.menu_title i
{
    font-size: 1.8em;
}
.menu_title h1
{
    font-size: 1.7em;
}
main
{
    background: #F6F6F6;
    margin-top: 5%;
    padding-bottom: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu_dishes
{
    margin-bottom: 1.5em;
    width: 30%;
}
.menu_dishes h1
{
    text-transform: uppercase;
    text-align: start;
    font-size: 1.2em;
    display: block;
    width: 2.4em;
    border-bottom: 5px solid #99E2D0;
    padding-bottom: 0.3em; 
    margin-left: 1em;  
}
.meal
{
    display: flex;
    justify-content: space-between;
    margin-top: 0em;
}
.menu_meal h4
{
    margin-bottom: 0px;
    font-size: 1.2em;
    margin-bottom: -10px;
    margin-top: 10px;
}
.menu_meal
{
    border: 1px solid #FFFFFA;
    width: 85%;
    margin: auto;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px #6b6565;
    margin-bottom: 1.2em;
    position: relative;
}
.meal p
{
    font-size: 1em;
}
/*animation slider*/
.slide
{ 
    background: #99E2D0;
    border: 1px solid #99E2D1;
    position: absolute;
    top: -1px;
    right: -2px;
    border-radius: 0 20px 20px 0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width ease-in-out 1s;
    width: 0em;
    opacity: 0;
}
.menu_meal:hover .slide
{
    width: 4em;
    opacity: 1;
}
/*animation: rotation de l'icone ok au survol*/
.slide i
{
    font-size: 1.4em;
    background: #FFFFFF;
    border-radius: 50%;
    color: #99E2D0;
    width: fit-content;
    padding: 0.2em;
    transition:transform 1s;
}
.menu_meal:hover .slide i
{
    transform: rotate(360deg);
}
/*animation: remplacement du texte par 3 points de suspension; ellipsis*/
.meal :nth-child(1),.menu_meal h4
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    display: block;
    width: auto;
    transition: padding-right 1s;
}
.menu_meal:hover  h4, .menu_meal:hover .meal :nth-child(1)
{
    padding-right: 4em;
    
}
/*animation: glissement du tarif du droite à gauche*/
.meal :nth-child(2)
{ 
    font-weight: bold;
    transition: transform 1s;
}
.menu_meal:hover .meal :nth-child(2)
{
    transform: translateX(-4em) ;
} 

/*affichage avec delay page secondaire entrées plats, desserts et */

.menu_meal
{
  animation: show 1s linear forwards;
  opacity: 0;
}
@keyframes show 
{
  0%{opacity: 0; }
  100%{opacity: 1;}      
}

.starter > :nth-child(2)
{
    animation-delay: .3s;
}
.starter > :nth-child(3)
{
    animation-delay: .6s;
}
.starter > :nth-child(4)
{
    animation-delay: .9s;
}
.starter> :nth-child(5)
{
    animation-delay: 1.2s;
}
.food > :nth-child(2)
{
    animation-delay: 1.5s;
}
.food > :nth-child(3)
{
    animation-delay: 1.8s;
}
.food > :nth-child(4)
{
    animation-delay: 2.1s;
}
.afters > :nth-child(2)
{
    animation-delay: 2.4s;
}
.afters > :nth-child(3)
{
    animation-delay: 2.7s;
}
.afters > :nth-child(4)
{
    animation-delay: 3s;
}
/*breakpoint 1000px*/
@media screen and (max-width: 1000px)
{
    .menu_dishes
    {
        width: 45%;
    }
}
/* css pour la version tablette*/

@media screen and (max-width: 767px)
{
    #menu_logo img
    {
        width: 45%;
        position: absolute;
        right: 27.5%;
    }
    main
    {
        margin-top: 6%;
    }
    .menu_dishes
    {
        width: 100%;
    }
    footer div, footer p
    {
        width: 50%;
        display:inline-block;
    }
    #propose
    {
        width: 85%;
    }
}
/*breakpoint 660px*/
@media screen and (max-width:660px)
{
    footer p, footer div
    {
        width: 90%;
    }
    footer h1
    {
        margin-left: 1.2em;
    }
}
/* css pour la version mobile*/

@media screen and (max-width: 426px)
{
    main
    {
        margin-top: 5%;
    }
    footer div
    {
        display: flex;
        align-items:baseline ;
    }
    footer h1
    {
        margin-left: 0.7em;
    }
    footer *
    {
        text-align: start;
    }

  
  }